body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1c1c1c;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #2b2b2b;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  width: 300px;
}


#result {
  width: 95%;
  height: 60px;
  font-size: 2rem;
  text-align: right;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: #3a3a3a;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 55px;
  font-size: 1.0rem;
  border: none;
  border-radius: 10px;
  background: #505050;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #666;
}

.operator {
  background: #ff9500;
}

.operator:hover {
  background: #ffa733
}

#output {
  transition: opacity 1.5s ease;
  opacity: 1;
}

#intro {
  color: #ffa733;
}

#main {
	color: #ffa733;
}